body{background: #d3d3d3;}
#login_fr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 365px;
    height: 383px;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.form_img{
    width: 156px;
    margin: auto;
}
.form_top h3{
    margin: 10px 0 20px;
    font-weight: normal;
    font-size: 14px;
    color: #6F869C;
    text-align: center;
}
.text_input_wrap input{
    width: 100%;
    height: 50px;
    padding: 15px 50px 15px 14px;
    margin-bottom: 15px;
    background: url(../images/icon/icon-user.svg) no-repeat calc(100% - 15px) 50%/20px;
}
#login_pw{
    background-image: url(../images/icon/icon-lock.svg);
}
#login_id:focus, #login_id.on{
    background-image: url(../images/icon/icon-user-bl.svg);
    border: 1px solid #0044FE;
}
#login_pw:focus, #login_pw.on{
    background-image: url(../images/icon/icon-lock-bl.svg);
    border: 1px solid #0044FE;
}
.checkbox_input_wrap{margin: 5px 0 20px;}

form .btn{
    width: 100%;
    height: 50px;
    color: #fff;
    background: #0044FE;
}

#popup_login, #popup_pw{width: 280px;}
#popup_login .popup_content,
#popup_pw .popup_content{
    padding: 30px 15px 15px;
    text-align: center;
}
#popup_login .popup_content h2,
#popup_pw .popup_content h2{
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    
}
#popup_login .confirm_btn,
#popup_pw .confirm_btn{width: 230px;}

#popup_pw .popup_content p{
    margin-top: 10px;
    font-size: 13px;
    color: #4267EB;
    line-height: 18px;
}