.search_area .date_wrap{width: 256px;}
.search_area .calander_wrap{
    width: 622px;
    height: 305px;
}

.result_table .btn{
    height: 36px;
    padding: 0 15px;
    font-size: 13px;
}
.scroll_area{padding-bottom: 10px; overflow-x: scroll;}


/* ---------- sub11_1 ---------- */
#page11_1 .search_area .col3,
#page11_1 .search_area .col5{padding-left: 7px;}
#page11_1 .search_area .select_wrap{width: 160px;}
#page11_1 .search_area .col5 input{
    width: 455px;
}

#page11_1 .result_area .col1{width: 80px;}
#page11_1 .result_area .col3,
#page11_1 .result_area .col4,
#page11_1 .result_area .col5,
#page11_1 .result_area .col7{width: 150px;}
#page11_1 .result_area .col6{width: 120px;}
#page11_1 .result_area tbody tr{cursor: pointer;}
#page11_1 .result_area tbody tr:hover{background: #F6FAFF;}
#page11_1 .result_area tbody tr:hover td{color: #0044FE;}

#popup11_1{width: 660px;}
#popup11_1 .block_category{width: 120px;}
#popup11_1 .col2{width: calc(100% - 120px);}
#popup11_1 .row1 input{width: 100%;}
#popup11_1 .row3 .col{height: 180px;}
#popup11_1 .row3 textarea{width: 100%; height: 160px;}



/* ---------- sub11_1_1 ---------- */
#page11_1_1 .content{padding-top: 35px;}
#page11_1_1 .form_area .block_category{width: 120px;}
#page11_1_1 .form_area .col2{font-size: 14px;}
#page11_1_1 .input_form_table_btn button{width: 66px;}
#page11_1_1 .option_area{margin: 40px 0 10px;}
#page11_1_1 .option_area b{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

#popup11_1_1,
#popup11_1_3,
#popup11_1_2{width: 460px;}
#popup11_1_1 b,
#popup11_1_3 b,
#popup11_1_2 b{
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    color: #6F869C;
    font-weight: 700;
    line-height: 18px;
}
#popup11_1_1 textarea,
#popup11_1_3 textarea,
#popup11_1_2 textarea{
    width: 100%;
    height: 152px;
}

/* ---------- sub11_1_2 ---------- */
#page11_1_2 .content{padding-top: 35px;}
#page11_1_2 .form_area .block_category{width: 120px;}
#page11_1_2 .form_area .col2{
    justify-content: space-between;
    width: calc(100% - 120px);
    font-size: 14px;
}
#page11_1_2 .form_area .row5 .col{height: 144px;}
#page11_1_2 .form_area .row5 .col2{padding: 12px;}
#page11_1_2 .form_area .row5 textarea{
    width: 100%;
    height: 100%;
}
#page11_1_2 .input_form_table_btn button{width: 66px;}



/* ---------- sub11_2 ---------- */
#page11_2 .option_area{margin: 5px 0 20px;}

#page11_2 .result_area .col{width: 160px;}
#page11_2 .result_area .col1,
#page11_2 .result_area .col2{width: 180px;}
#page11_2 .result_area .col7{width: 110px;}
#page11_2 .result_area .check_mark{
    width: 100%;
    height: 100%;
    background: url("../../images/check_mark.svg") no-repeat center/24px;
}
#page11_2 .result_area .icon_btn_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#page11_2 .result_area .icon_btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#page11_2 .result_area .icon_btn.edit_btn{
    background: url("../../images/icon/icon-edit-blue.svg") no-repeat center/24px, #F2F4FF;
}
#page11_2 .result_area .icon_btn.delete_btn{
    background: url("../../images/icon/icon-delete.svg") no-repeat center/24px, #f2f2f2;
}
#page11_2 .result_area .icon_btn.edit_btn:hover{
    background: url("../../images/icon/icon-edit-nv.svg") no-repeat center/24px, #D0D5F2;
}
#page11_2 .result_area .icon_btn.delete_btn:hover{
    background: url("../../images/icon/icon-delete-bk.svg") no-repeat center/16px, #d3d3d3;
}

#popup11_2_1{width: 460px;}
#popup11_2_1 .block_category{width: 120px;}
#popup11_2_1 .col2{width: calc(100% - 120px);}
#popup11_2_1 input{width: 100%;}

#popup11_2_2{width: 360px;}
#popup11_2_2 .block_category{width: 120px;}
#popup11_2_2 .col2{width: calc(100% - 120px);}
#popup11_2_2 .row2 .col{height: 195px;}
#popup11_2_2 .row2 .col2{
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 12px;
}
#popup11_2_2 .row2 .col2 .checkbox_input_wrap{justify-content: flex-start;}



/* ---------- sub11_3 ---------- */
#page11_3 .result_table{width: 1840px;}
#page11_3 .result_area .col1{width: 60px;}
#page11_3 .result_area .col2{width: 150px;}
#page11_3 .result_area .col3{width: 180px;}
#page11_3 .result_area .col4{width: 100px;}
#page11_3 .result_area .col5,
#page11_3 .result_area .col6,
#page11_3 .result_area .col7{width: 150px;}
#page11_3 .result_area .col8{width: 100px;}
#page11_3 .result_area .col9{width: 80px;}
#page11_3 .result_area .col10,
#page11_3 .result_area .col11,
#page11_3 .result_area .col12,
#page11_3 .result_area .col13{width: 180px;}
#page11_3 .result_area .col13 .btn_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#popup11_3_1{width: 460px;}
#popup11_3_1 .block_category{width: 80px;}
#popup11_3_1 .col2{width: calc(100% - 80px);}
#popup11_3_1 input{width: 100%;}

#popup11_3_2{width: 860px;}
#popup11_3_2 h3 span{color: #0044FE;}
#popup11_3_2 .result_area .col1{width: 60px;}
#popup11_3_2 .result_area .col2,
#popup11_3_2 .result_area .col3{width: 120px;}
#popup11_3_2 .result_area .col4,
#popup11_3_2 .result_area .col5{width: 200px;}
#popup11_3_2 .result_area .col6{width: 100px;}

#popup11_3_3{width: 460px;}
#popup11_3_3 b{
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    color: #6F869C;
    font-weight: 700;
    line-height: 18px;
}
#popup11_3_3 textarea{
    width: 100%;
    height: 152px;
}



/* ---------- sub11_4 ---------- */
#page11_4 .option_area{margin: 5px 0 20px;}
#page11_4 .result_area .col1,
#page11_4 .result_area .col3{width: 210px;}
#page11_4 .result_area .col3 i{
    text-decoration: underline;
    font-style: normal;
    cursor: pointer;
}

#popup11_4_1,
#popup11_4_2{width: 460px;}
#popup11_4_1 .block_category,
#popup11_4_2 .block_category{width: 120px;}
#popup11_4_1 .col2,
#popup11_4_2 .col2{width: calc(100% - 120px);}
#popup11_4_1 input,
#popup11_4_2 input{width: 100%;}



/* ---------- sub11_5 ---------- */
#page11_5 .option_area{margin: 5px 0 20px;}
#page11_5 .result_area .col1,
#page11_5 .result_area .col3{width: 210px;}
#page11_5 .result_area .col3 i{
    text-decoration: underline;
    font-style: normal;
    cursor: pointer;
}

#popup11_5_1,
#popup11_5_2{width: 460px;}
#popup11_5_1 .block_category,
#popup11_5_2 .block_category{width: 120px;}
#popup11_5_1 .col2,
#popup11_5_2 .col2{width: calc(100% - 120px);}
#popup11_5_1 input,
#popup11_5_2 input{width: 100%;}



/* ---------- sub11_6 ---------- */
#page11_6 .search_area .col3{padding-left: 7px;}
#page11_6 .search_area .select_wrap{width: 200px;}

#page11_6 .result_area .col1{width: 60px;}
#page11_6 .result_area .col3{width: 180px;}
#page11_6 .result_area .col4{width: 260px;}




/* ---------- sub11_7 ---------- */
#page11_7 .search_area .col3{padding-left: 7px;}
#page11_7 .search_area .select_wrap{width: 200px;}

#page11_7 .result_area .col1{width: 60px;}
#page11_7 .result_area .col2,
#page11_7 .result_area .col4{width: 200px;}
#page11_7 .result_area .col5{width: 80px;}



/* ---------- sub11_8 ---------- */
#page11_8 .search_area .col3,
#page11_8 .search_area .col5,
#page11_8 .search_area .col7{padding-left: 7px;}
#page11_8 .search_area .select_wrap{width: 160px;}
#page11_8 .search_area .col7 input{width: 200px;}

#page11_8 .result_area .col1{width: 60px;}
#page11_8 .result_area .col4{width: 150px;}
#page11_8 .result_area .col6{width: 200px;}