.search_area .select_wrap{width: 300px;}
input:not(input[type="radio"], input[type="checkbox"]){width: 100%;}
.row_collapse .row_collapse_left .col{height: 129px;}
.row_collapse .row_collapse_left .col2{display: block;}

.result_area tbody tr{cursor: pointer;}
.result_area tbody tr:hover{background: #F6FAFF;}
.result_area tbody tr:hover td{color: #0044FE;}

/* ---------- sub2_1 ---------- */
#page2_1 .search_area .text_input_wrap{padding: 5px 12px;}
#page2_1 .search_area .text_input_wrap input{width: 100%; height: 34px;}
#page2_1 .result_area .col1{width: 60px;}
#page2_1 .result_area .col2{width: 120px;}
#page2_1 .result_area .col3{width: 80px;}
#page2_1 .result_area .col4{width: 180px;}
#page2_1 .result_area .col5{width: 180px;}
#page2_1 .result_area .col6{width: 80px;}
#page2_1 .result_area .col7{
    text-overflow: initial;
    white-space:initial;
    word-break: break-word;
}
#page2_1 .result_area .col8{width: 120px;}
#page2_1 .result_area .col9{width: 110px;}
#page2_1 .result_area .icon_btn_wrap{
    display: flex;
    justify-content: center;
}
#page2_1 .result_area .icon_btn.delete_btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../../images/icon/icon-delete.svg) no-repeat center/24px, #f2f2f2;
}
#page2_1 .result_area .col9:hover .icon_btn.delete_btn{
    background: url(../../images/icon/icon-delete-bk.svg) no-repeat center/16px, #d3d3d3;
}

#popup2_1{width: 960px; height: 89.648vh; max-height: 918px;}
#popup2_1 .popup_content{
    height: calc(89.648vh - 159px);
    max-height: 759px;
    overflow: scroll;
}
#popup2_1 .block_category{width: 80px;}
#popup2_1 .table_category{width: 100px;}
#popup2_1 .depth_table{width: calc(100% - 80px);}
#popup2_1 .table_block1 .select_wrap{width: 180px;}
#popup2_1 .table_block2 .row1 .col2,
#popup2_1 .table_block2 .row1 .col4,
#popup2_1 .table_block2 .row2 .col2,
#popup2_1 .table_block2 .row2 .col4,
#popup2_1 .table_block2 .row3 .col2,
#popup2_1 .table_block2 .row3 .col4{width: 150px;}
#popup2_1 .table_block2 .row1 .col6,
#popup2_1 .table_block2 .row2 .col6,
#popup2_1 .table_block2 .row3 .col6{width: 220px;}

#popup2_1 .row_collapse .row_collapse_left .col2{width: 310px;}
#popup2_1 .row_collapse .row_collapse_left .col.col2 .input_wrap:first-child{
    width: 100%;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popup2_1 .row_collapse .row_collapse_left .col.col2 .input_wrap:first-child input{width: 198px;}
#popup2_1 .row_collapse .row_collapse_right .col3{width: 120px;}
#popup2_1 .row_collapse .row_collapse_right .col4{width: 290px;}
#popup2_1 .table_block3 .row1 .col:nth-child(even),
#popup2_1 .table_block3 .row2 .col:nth-child(even),
#popup2_1 .table_block3 .row3 .col2{width: calc(33.3% - 100px);}
#popup2_1 .table_block3 .row1 .calander_area{width: 250px;}
#popup2_1 .table_block3 .row3 .input_wrap{display: flex; gap: 20px;}
#popup2_1 .table_block4 .col{width: 820px; height: 144px;}
#popup2_1 .table_block4 textarea{width: 100%; height: 100%;}
#popup2_1 .input_form_table_btn{margin: 15px 0;}



/* ---------- sub2_1_1 ---------- */
#page2_1_1 .block_category{width: 100px;}
#page2_1_1 .table_category{width: 120px;}


#page2_1_1 .table_block>.row, #page2_1_1 .depth_table{width: calc(100% - 100px);}

#page2_1_1 .table_block1 .col{border: none;}
#page2_1_1 .table_block1 .col:nth-child(even){border-left: 1px solid #eee;}
#page2_1_1 .table_block1 .col:nth-child(odd){flex: 1;}


#page2_1_1 .table_block2 .col2, #page2_1_1 .table_block2 .row3 .col4{width: calc(29.703% - 120px);}
#page2_1_1 .table_block2 .row1 .col4,
#page2_1_1 .table_block2 .row1 .col6,
#page2_1_1 .table_block2 .row2 .col4,
#page2_1_1 .table_block2 .row2 .col6{width: calc(35.149% - 120px);}
#page2_1_1 .table_block2 .row3 .col6{width: calc(40.594% - 120px);}
#page2_1_1 .table_block2 .row3 .col6 .upload_wrap .upload_val{width: 61.379%;}
#page2_1_1 .table_block2 .row_collapse .row_collapse_left{width: 59.406%;}
#page2_1_1 .table_block2 .row_collapse .row_collapse_left .col2{flex-grow: 1; padding: 14px 12px;}
#page2_1_1 .table_block2 .row_collapse .row_collapse_left .input_wrap:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 13px;
}
#page2_1_1 .table_block2 .row_collapse .row_collapse_right{flex-grow: 1;}
#page2_1_1 .table_block2 .row_collapse .row_collapse_right .col4{flex-grow: 1;}

#page2_1_1 .table_block3 .col:nth-child(even){width: calc(33.3% - 120px);}
#page2_1_1 .table_block3 .row1 .calander_area{width: 250px; height: 240px;}
#page2_1_1 .table_block3 .row3 .col4 .input_wrap{display: flex; gap: 20px;}

#page2_1_1 .table_block4 .col{
    align-items: flex-start;
    gap: 10px;
    width: 100%; 
    height: 108px;
}
#page2_1_1 .table_block4 .goal_wrap{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 89.307%;
    height: 100%;
}
#page2_1_1 .table_block4 .goal_wrap li{
    display: flex;
    width: 15.743%;
    height: 39px;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
}
#page2_1_1 .table_block4 .goal_wrap li h4{
    width: 54px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 37px;
    background: #F6FAFF;
    border-right: 1px solid rgba(168, 177, 206, 0.2);
}
#page2_1_1 .table_block4 .goal_wrap li p{
    flex-grow: 1;
    padding-right: 10px;
    text-align: right;
    line-height: 37px;
}
#page2_1_1 .table_block5 .col{width: 100%; height: 144px;}
#page2_1_1 .table_block5 .col textarea{
    width: 100%;
    height: 100%;
}

#popup2_1_1_1{width: 460px;}
#popup2_1_1_1 .col1{width: 120px;}
#popup2_1_1_1 .col2{width: 180px;}
#popup2_1_1_1 .col3{width: 100px;}
#popup2_1_1_1 .popup_content{position: relative;}
#popup2_1_1_1 .overflow_position{
    position: absolute;
    bottom: 26px;
    left: 165px;
}
#popup2_1_1_1 .overflow_position .date_area{width: 156px;}
#popup2_1_1_1 .overflow_position .date_area .calander_area{width: 250px;}

#popup2_1_1_2{width: 660px;}
#popup2_1_1_2 .option_area{
    margin: 0 0 20px;
}
#popup2_1_1_2 .option_area ul{
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    overflow: hidden;
}
#popup2_1_1_2 .option_area ul li{
    width: 180px;
    padding: 0 12px;
    font-weight: 400;
    font-size: 15px;
    color: #111;
    text-align: left;
    background-color: #fff;
}
#popup2_1_1_2 .option_area ul li:nth-of-type(2){
    border-right: 1px solid #D3D3D3;
}
#popup2_1_1_2 .option_area ul .table_category{
    width: 120px;
    font-weight: 700;
    font-size: 13px;
    color: #6F869C;
    background-color: #FCFCFC;
    text-align: center;
}
#popup2_1_1_2 .col{width: 100px;}
#popup2_1_1_2 .table_block .col{border-left: 1px solid #eee;}
#popup2_1_1_2 .table_block .col:first-child{border: none;}
#popup2_1_1_2 .table_block .row:nth-child(odd) .col{height: 50px;}
#popup2_1_1_2 .table_block input{text-align: right;}



/* ---------- sub2_2 ---------- */
#page2_2 .result_area .col1{width: 50px;}
#page2_2 .result_area .col2,
#page2_2 .result_area .col3,
#page2_2 .result_area .col4,
#page2_2 .result_area .col5{width: 90px;}
    /* white-space: initial;
    text-overflow: initial;
    word-break: break-all; */
#page2_2 .result_area .col6{width: 80px;}
#page2_2 .result_area .col7{width: 90px;}
#page2_2 .result_area .col8{
    white-space: initial;
    text-overflow: initial;
}
#page2_2 .result_area .col9,
#page2_2 .result_area .col10{width: 90px;}
#page2_2 .result_area .col11{width: 92px;}
#page2_2 .result_area .col11 .btn{
    height: 36px;
    padding: 0px 10px;
    font-size: 13px;
}

#popup2_2_1{width: 960px;}
#popup2_2_1 .block_category{width: 80px;}
#popup2_2_1 .depth_table{width: calc(100% - 80px);}
#popup2_2_1 .table_category{width: 100px;}
#popup2_2_1 .table_block .col:nth-child(even){width: calc(33.3% - 100px);}
#popup2_2_1 .table_block1 .row_collapse{border-bottom: 1px solid #eee;}
#popup2_2_1 .table_block1 .row_collapse .col{height: 129px;}
#popup2_2_1 .table_block1 .row_collapse_left{width: 66.6%;}
#popup2_2_1 .table_block1 .row_collapse_left .col2{
    width: calc(100% - 100px);
    padding: 14px 12px;
}
#popup2_2_1 .table_block1 .row_collapse_left .col2 .input_wrap:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}
#popup2_2_1 .table_block1 .row_collapse_left .col2 .input_wrap:first-child input{width: 335px;}
#popup2_2_1 .table_block1 .row_collapse_right{width: 33.3%;}
#popup2_2_1 .table_block1 .row_collapse_right .col4{width: calc(100% - 100px);}
#popup2_2_1 .table_block1 .row3 .col4 .input_wrap{
    display: flex;
    align-items: center;
    gap: 20px;
}
#popup2_2_1 .table_block3 .row{width: calc(100% - 80px);}
#popup2_2_1 .table_block3 .col{width: 100%}

#popup2_2_2, #popup2_2_3{
    width: 460px;
    height: 80.469vh;
    max-width: 824px;
}
#popup2_2_2 .popup_content, #popup2_2_3 .popup_content{
    height: calc(80.469vh - 159px);
    overflow: scroll;
}
#popup2_2_2 .block_category, #popup2_2_3 .block_category{width: 120px; text-align: center;}
#popup2_2_2 .col2, #popup2_2_2 .col3,
#popup2_2_3 .col2, #popup2_2_3 .col3{width: 80px;}
#popup2_2_2 .col4, #popup2_2_3 .col4{
    width: 120px;
    border-left: 1px solid #eee;
}
#popup2_2_2 .col3 input{text-align: right;}
#popup2_2_2 .col3 input:disabled{display: none;}
#popup2_2_3 input[type="checkbox"]{cursor: initial;}
#popup2_2_3 input[type="checkbox"]:not(:checked){border-color: transparent;}
#popup2_2_3 .col3{text-align: center;}



/* ---------- sub2_2_1 ---------- */
#page2_2_1 .content{height: calc(100vh - 148px); min-height: 582px;}
#page2_2_1 .depth_table{width: calc(100% - 100px);}
#page2_2_1 .block_category{width: 100px;}
#page2_2_1 .col{width: calc(33.3% - 120px);}
#page2_2_1 .col.table_category{width: 120px;}

#page2_2_1 .row_collapse{border-bottom: 1px solid #eee;}
#page2_2_1 .row_collapse .col{height: 129px;}
#page2_2_1 .table_block1 .row_collapse_left{width: 66.666%;}
#page2_2_1 .row_collapse_left .col2{
    width: calc(100% - 100px);
    padding: 14px 12px;
}
#page2_2_1 .row_collapse_left .col2 .input_wrap:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}
#page2_2_1 .row_collapse_left .col2 .input_wrap:first-child input{width: calc(100% - 88px);}
#page2_2_1 .row_collapse_right{width: 33.3%;}
#page2_2_1 .row_collapse_right .col4{width: calc(100% - 100px);}
#page2_2_1 .row_collapse_right .col4 .btn{width: 64px;}
#page2_2_1 .table_block1 .row3 .col4 .input_wrap{
    display: flex;
    align-items: center;
    gap: 20px;
}
#page2_2_1 .table_block3 .row{width: calc(100% - 100px);}
#page2_2_1 .table_block3 .col{width: 100%;}

#popup2_2_1_1{
    width: 460px;
    height: 80.469vh;
    max-width: 824px;
}
#popup2_2_1_1 .popup_content{
    height: calc(80.469vh - 159px);
    overflow: scroll;
}
#popup2_2_1_1 .block_category{width: 120px; text-align: center;}
#popup2_2_1_1 .col2, #popup2_2_1_1 .col3{width: 80px;}
#popup2_2_1_1 .col4{
    width: 120px;
    border-left: 1px solid #eee;
}
#popup2_2_1_1 input[type="checkbox"]{cursor: initial;}
#popup2_2_1_1 input[type="checkbox"]:not(:checked){border-color: transparent;}
#popup2_2_1_1 .col3{text-align: center;}