.content .option_result_wrap{padding-right: 20px;}
.result_table .btn{
    height: 36px;
    padding: 0 15px;
    font-size: 13px;
}

/* ---------- sub5_1 ---------- */
#page5_1 .search_area .date_area{width: 122px;}
#page5_1 .search_area .calander_area{width: 230px; height: 200px;}
#page5_1 .search_area .calander_con{display: block; width: 100%;}
#page5_1 .calander_wrap .calander_con .calander .year_month div p::after{content: "";}
#page5_1 .calander_wrap .calander_con .calander .month_date ol li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#page5_1 .calander_wrap .calander_con .calander .month_date ol li:last-child{margin-bottom: 0;}
#page5_1 .calander_wrap .calander_con .calander .month_date ol li div{
    width: 40px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#page5_1 .result_area .col2, #page5_1 .result_area .col6{border-left: 1px solid #d3d3d3;}
#page5_1 .result_area .col1{width: 230px;}
#page5_1 .result_area thead::after{background: none;}
#page5_1 .result_area thead .col{height: 40px; background-color: #FCFCFC;}
#page5_1 .result_area thead .col:after{display: none;}
#page5_1 .result_area thead .row2 .col{border-top: 1px solid #eee;}
#page5_1 .row8{background: #F6FAFF;}
#page5_1 .row8 .col{
    height: 50px;
    color: #0044FE;
    font-weight: 700;
    border-top: 1px solid #d3d3d3;
}



/* ---------- sub5_2 ---------- */
#page5_2 .search_area .col3{margin-left: 7px;}
#page5_2 .search_area .date_area{width: 256px;}
#page5_2 .search_area .calander_area{width: 622px; height: 305px;}
#page5_2 .search_area .select_wrap{width: 180px;}


#page5_2 .result_table .col1{width: 80px;}
#page5_2 .result_table .col2{width: 120px;}
#page5_2 .result_table .col4{width: 150px;}
#page5_2 .result_table .col5{width: 120px;}
#page5_2 .result_table .col6{width: 120px;}
#page5_2 .result_table .col7{width: 180px;}
#page5_2 .result_table .btn_wrap{
    display: flex;
    justify-content: space-between;
    width: 142px;
    margin: auto;
}

#popup5_2_1, #popup5_2_2{width: 860px;}
#popup5_2_1 .option_area, #popup5_2_2 .option_area{
    margin: 0 0 20px;
}
#popup5_2_1 .option_area ul, #popup5_2_2 .option_area ul{
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    overflow: hidden;
}
#popup5_2_1 .option_area ul li, #popup5_2_2 .option_area ul li{
    width: 280px;
    padding: 0 12px;
    font-weight: 400;
    font-size: 15px;
    color: #111;
    text-align: left;
    background-color: #fff;
}
#popup5_2_1 .option_area ul li:nth-of-type(2),
#popup5_2_2 .option_area ul li:nth-of-type(2){
    border-right: 1px solid #D3D3D3;
}
#popup5_2_1 .option_area ul .table_category,
#popup5_2_2 .option_area ul .table_category{
    width: 120px;
    font-weight: 700;
    font-size: 13px;
    color: #6F869C;
    background-color: #FCFCFC;
    text-align: center;
}
#popup5_2_1 .result_table .col1, #popup5_2_2 .result_table .col1{width: 60px;}
#popup5_2_1 .result_table .col2, #popup5_2_2 .result_table .col2{width: 170px;}
#popup5_2_1 .result_table .col3, #popup5_2_2 .result_table .col3{width: 130px;}
#popup5_2_1 .result_table .col4, #popup5_2_2 .result_table .col4{width: 130px;}
#popup5_2_1 .result_table .col5, #popup5_2_2 .result_table .col5{width: 110px;}
#popup5_2_1 .result_table .col6, #popup5_2_2 .result_table .col6{width: 100px;}
#popup5_2_1 .result_table .col7, #popup5_2_2 .result_table .col7{width: 100px;}



/* ---------- sub5_3 ---------- */
#page5_3 .search_area .col3{margin-left: 7px;}
#page5_3 .search_area .date_area{width: 256px;}
#page5_3 .search_area .calander_area{width: 622px; height: 305px;}
#page5_3 .search_area .select_wrap{width: 180px;}

#page5_3 .result_table .col1{width: 80px;}
#page5_3 .result_table .col3{width: 180px;}
#page5_3 .result_table .col4{width: 180px;}
#page5_3 .result_table .col5{width: 150px;}
#page5_3 .result_table .col6{width: 150px;}

#popup5_3{width: 660px;}
#popup5_3 .result_table .col1{width: 60px;}
#popup5_3 .result_table .col2{width: 190px;}
#popup5_3 .result_table .col3{width: 130px;}
#popup5_3 .result_table .col4{width: 120px;}
#popup5_3 .result_table .col5{width: 100px;}



/* ---------- sub5_4 ---------- */
#page5_4 .content_tab{display: none;}
#page5_4 .content_tab.on{display: block;}
#page5_4 .content_tab_btn ul{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
#page5_4 .content_tab_btn .tab_btn{
    height: 45px;
    padding: 10px 0;
    font-size: 18px;
    color: #656565;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
#page5_4 .content_tab_btn .tab_btn.on{
    color: #0B1293;
    font-weight: 700;
    border-color: #0B1293;
}

#page5_4 .search_area .col3{margin-left: 7px;}
#page5_4 .search_area .date_area{width: 122px;}
#page5_4 .search_area .calander_area{width: 230px; height: 200px;}
#page5_4 .search_area .calander_con{display: block; width: 100%;}
#page5_4 .calander_wrap .calander_con .calander .year_month div p::after{content: "";}
#page5_4 .calander_wrap .calander_con .calander .month_date ol li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#page5_4 .calander_wrap .calander_con .calander .month_date ol li:last-child{margin-bottom: 0;}
#page5_4 .calander_wrap .calander_con .calander .month_date ol li div{
    width: 40px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
#page5_4 .search_area .select_wrap{width: 180px;}

#page5_4 .result_area tbody tr{cursor: initial;}
#page5_4 .result_area tbody tr:hover{background: #fff;}
#page5_4 .result_area tbody tr:hover td{color: #111;}

#page5_4 .content_tab1 .result_table{margin-bottom: 20px;}
#page5_4 .content_tab1 .result_area .col2,
#page5_4 .content_tab1 .result_area .col5{border-left: 1px solid #d3d3d3;}
#page5_4 .content_tab1 .result_area .col1{width: 120px;}
#page5_4 .content_tab1 .result_area thead::after{background: none;}
#page5_4 .content_tab1 .result_area thead .col{height: 40px; background-color: #FCFCFC;}
#page5_4 .content_tab1 .result_area thead .col:after{display: none;}
#page5_4 .content_tab1 .result_area thead .row2 .col{border-top: 1px solid #eee;}

#page5_4 .content_tab2{padding-bottom: 50px;}
#page5_4 .content_tab2 .result_table .col1{width: 140px;}