.result_table .btn{
    height: 36px;
    padding: 0 15px;
    font-size: 13px;
}
/* ---------- sub8_1 ---------- */
#page8_1 .option_area{margin: 5px 0 30px;}
#page8_1 .scroll_area{padding-bottom: 10px; overflow-x: scroll;}
#page8_1 .result_area .result_table{width: 1200px;}
#page8_1 .result_area table{table-layout: auto !important;}
#page8_1 .result_area .col2,
#page8_1 .result_area .col5,
#page8_1 .result_area .col7,
#page8_1 .result_area .col9,
#page8_1 .result_area .col11{border-left: 1px solid #d3d3d3;}
#page8_1 .result_area thead .col{height: 40px;}
#page8_1 .result_area thead .row2 .col{border-top: 1px solid #eee;}
#page8_1 .result_area .col1{width: 100px;}
#page8_1 .result_area .col2{width: 110px;}
#page8_1 .result_area .col3{width: 100px;}
#page8_1 .result_area .col4{width: 70px;}
#page8_1 .result_area .col5{width: 80px;}
#page8_1 .result_area thead .row1 .col5{width: 230px;}
#page8_1 .result_area .col6{width: 150px;}
#page8_1 .result_area .col7{width: 90px;}
#page8_1 .result_area thead .row1 .col7{width: 240px;}
#page8_1 .result_area .col8{width: 150px;}
#page8_1 .result_area .col9{width: 150px;}
#page8_1 .result_area thead .row1 .col9{width: 270px;}
#page8_1 .result_area .col10{width: 120px;}
#page8_1 .result_area .col11{width: 80px;}

#page8_1 main.active .scroll_area{padding-bottom: 0; overflow-x: initial;}
#page8_1 main.active .result_area .result_table{width: 100%;}
#page8_1 .result_area tbody tr{cursor: pointer;}
#page8_1 .result_area tbody tr:hover{background: #F6FAFF;}
#page8_1 .result_area tbody tr:hover td{color: #0044FE;}

#popup8_1{width: 960px;}
#popup8_1 input[type="text"]{width: 100%;}
#popup8_1 .depth_table{width: 810px;}
#popup8_1 .block_category{width: 90px;}
#popup8_1 .table_category{width: 100px;}
#popup8_1 .table_block1 .row1 .col2,
#popup8_1 .table_block1 .row1 .col4,
#popup8_1 .table_block1 .row2 .col2,
#popup8_1 .table_block1 .row2 .col4{width: 150px;}
#popup8_1 .table_block1 .row1 .col6,
#popup8_1 .table_block1 .row2 .col6{width: 210px;}
#popup8_1 .table_block1 .row3 .col2,
#popup8_1 .table_block1 .row3 .col4,
#popup8_1 .table_block2 .row1 .col2,
#popup8_1 .table_block2 .row1 .col4{width: 305px;}
#popup8_1 .table_block2 .row2 .col1{width: 100%;}



/* ---------- sub8_1_1 ---------- */
#page8_1_1 input[type="text"]{width: 100%;}
#page8_1_1 .table_category{width: 120px;}
#page8_1_1 .block_category{width: 120px;}
#page8_1_1 .input_form_table>.row .col:nth-child(even){width: calc(50% - 120px);}
#page8_1_1 .input_form_table>.row1 .col2{justify-content: flex-start;}
#page8_1_1 .input_form_table>.row2 .col.col2{width: calc(100% - 120px);}
#page8_1_1 .input_form_table>.row6 .col.col2{width: auto;}
#page8_1_1 .input_form_table>.row6 .upload_wrap{gap: 10px;}

#page8_1_1 .depth_table{width: calc(100% - 120px);}
#page8_1_1 .table_block1 .row1 .col:nth-child(even){width: calc(50% - 120px);}
#page8_1_1 .table_block1 .row:not(.row1) .col2{width: calc(100% - 120px);}
#page8_1_1 .table_block1 .row2 .col2{justify-content: space-between;}
#page8_1_1 .table_block1 .row2 .col2 .upload_wrap{
    justify-content: flex-start;
    gap: 10px;
}



/* ---------- sub8_2 ---------- */
#page8_2 .search_area input[type="text"]{width: 200px;}

#popup8_2_1{width: 460px;}
#popup8_2_1 .block_category{width: 120px;}
#popup8_2_1 .col2{width: calc(100% - 120px);}
#popup8_2_1 input{width: 100%;}
#popup8_2_1 .row5 .col2{justify-content: space-between;}
#popup8_2_1 .row5 p{font-size: 14px;}
#popup8_2_1 .row5 .btn{width: 54px;}

#popup8_2_2{width: 560px;}
#popup8_2_2 .search_area{
    padding: 15px 20px;
    margin-bottom: 15px;
}
#popup8_2_2 .search_area input[type="text"]{width: 350px;}
#popup8_2_2 .search_area .btn{
    width: 54px;
    height: 36px;
    padding: 0 15px;
    font-size: 13px;
}
#popup8_2_2 .result_area .col1{width: 70px;}
#popup8_2_2 .result_area .col1 .table_img_box{
    width: 40px;
    height: 40px;
    margin: auto;
}
#popup8_2_2 .result_area .col2{width: 170px;}
#popup8_2_2 .result_area .col3{width: 80px;}
#popup8_2_2 .result_area .col4{width: 80px;}
#popup8_2_2 .result_area .col5{width: 100px;}



/* ---------- sub8_3 ---------- */
#page8_3 .search_area .select_wrap,
#page8_3 .search_area .col3 input{width: 180px;}
#page8_3 .search_area .date_wrap{width: 256px;}
#page8_3 .search_area .calander_wrap{
    width: 622px;
    height: 305px;
}
#page8_3 .search_area .col6 .input_wrap{
    width: 216px;
    display: flex;
    gap: 12px;
}
#page8_3 .search_area .col3,
#page8_3 .search_area .col4,
#page8_3 .search_area .col6{padding-left: 7px;}
#page8_3 .option_area .btn{
    display: inline-block;
    height: 44px;
    line-height: 42px;
}

#page8_3 .result_table .col{width: 100px;}
#page8_3 .result_table .col3,
#page8_3 .result_table .col4{width: 120px;}
#page8_3 .result_table .col5{
    width: auto;
    word-break: break-all;
    text-overflow: initial;
    white-space: initial;
}
#page8_3 .result_table .col6{width: auto;}



/* ---------- sub8_3_3 ---------- */
#page8_3_3 .search_area .col2 input{width: 200px;}
#page8_3_3 .search_area .col4 .input_wrap{
    width: 216px;
    display: flex;
    gap: 12px;
}
#page8_3_3 .search_area .col3,
#page8_3_3 .search_area .col4{padding-left: 7px;}

#page8_3_3 .scroll_area{padding-bottom: 10px; overflow-x: scroll;}
#page8_3_3 .result_area .result_table{width: 1400px;}
#page8_3_3 .result_table .col1,
#page8_3_3 .result_table .col2{width: 100px;}
#page8_3_3 .result_table .col3{width: 120px;}
#page8_3_3 .result_table .col4{width: 200px;}
#page8_3_3 .result_table .col:nth-child(n+5):nth-child(-n+9){width: 80px;}
#page8_3_3 .result_table .col8 input{width: 100%;}
#page8_3_3 .result_table .col10{width: 200px;}
#page8_3_3 .result_table tbody .col10{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page8_3_3 .result_table tbody .col10 .select_wrap{width: 115px;}
#page8_3_3 .result_table .col11,
#page8_3_3 .result_table .col12{width: 100px;}
#page8_3_3 .result_table .col13{width: 80px;}

#page8_3_3 main.active .result_area .result_table{width: 100%;}
#page8_3_3 main.active .result_area .col4{width: auto;}



/* ---------- sub8_3_4 ---------- */
#page8_3_4 .search_area .select_wrap,
#page8_3_4 .search_area .col3 input{width: 180px;}
#page8_3_4 .search_area .date_wrap{width: 256px;}
#page8_3_4 .search_area .calander_wrap{
    width: 622px;
    height: 305px;
}
#page8_3_4 .search_area .col3,
#page8_3_4 .search_area .col4,
#page8_3_4 .search_area .col6{padding-left: 7px;}
#page8_3_4 .search_area .row1 .col6 .input_wrap,
#page8_3_4 .search_area .row2 .col2 .input_wrap{
    width: 216px;
    display: flex;
    gap: 12px;
}
#page8_3_4 .search_area .null{width: 700px;}

#page8_3_4 .result_table .col1{width: 100px;}
#page8_3_4 .result_table .col2{width: 120px;}
#page8_3_4 .result_table .col3,
#page8_3_4 .result_table .col8{width: auto;}
#page8_3_4 .result_table .col:nth-child(n+4):nth-child(-n+7){width: 80px;}
#page8_3_4 .result_table .col9{width: 120px;}