
.result_table .btn{
    height: 36px;
    padding: 0 15px;
    font-size: 13px;
}
.result_area .icon_btn_wrap{
    display: flex;
    justify-content: center;
}
.result_area .icon_btn.delete_btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../../images/icon/icon-delete.svg) no-repeat center/24px, #f2f2f2;
}
.result_area .col11:hover .icon_btn.delete_btn{
    background: url(../../images/icon/icon-delete-bk.svg) no-repeat center/16px, #d3d3d3;
}

/* ---------- sub8_1 ---------- */
#page8_1 .option_area{margin: 5px 0 20px;}

#page8_1 .result_area .result_table{width: 1200px;}
#page8_1 .result_area table{table-layout: auto !important;}
#page8_1 .result_area .col2,
#page8_1 .result_area .col5,
#page8_1 .result_area .col7,
#page8_1 .result_area .col9,
#page8_1 .result_area .col11{border-left: 1px solid #d3d3d3;}
#page8_1 .result_area thead .col{height: 40px;}
#page8_1 .result_area thead .row2 .col{border-top: 1px solid #eee;}
#page8_1 .result_area .col1{width: 100px;}
#page8_1 .result_area .col2{width: 110px;}
#page8_1 .result_area .col3{width: 100px;}
#page8_1 .result_area .col4{width: 70px;}
#page8_1 .result_area .col5{width: 80px;}
#page8_1 .result_area thead .row1 .col5{width: 230px;}
#page8_1 .result_area .col6{width: 150fpx;}
#page8_1 .result_area .col7{width: 90px;}
#page8_1 .result_area thead .row1 .col7{width: 240px;}
#page8_1 .result_area .col8{width: 150px;}
#page8_1 .result_area .col9{width: 150px;}
#page8_1 .result_area thead .row1 .col9{width: 270px;}
#page8_1 .result_area .col10{width: 120px;}
#page8_1 .result_area .col11{width: 80px;}

#page8_1 main.active .scroll_area{padding-bottom: 0; overflow-x: initial;}
#page8_1 main.active .result_area .result_table{width: 100%;}
#page8_1 .result_area tbody tr{cursor: pointer;}
#page8_1 .result_area tbody tr:hover{background: #F6FAFF;}
#page8_1 .result_area tbody tr:hover td{color: #0044FE;}

#popup8_1{width: 960px;}
#popup8_1 input[type="text"]{width: 100%;}
#popup8_1 .depth_table{width: 810px;}
#popup8_1 .block_category{width: 90px;}
#popup8_1 .table_category{width: 100px;}
#popup8_1 .table_block1 .row1 .col2,
#popup8_1 .table_block1 .row1 .col4,
#popup8_1 .table_block1 .row2 .col2,
#popup8_1 .table_block1 .row2 .col4{width: 150px;}
#popup8_1 .table_block1 .row1 .col6,
#popup8_1 .table_block1 .row2 .col6{width: 210px;}
#popup8_1 .table_block1 .row3 .col2,
#popup8_1 .table_block1 .row3 .col4,
#popup8_1 .table_block2 .row1 .col2,
#popup8_1 .table_block2 .row1 .col4{width: 305px;}
#popup8_1 .table_block2 .row2 .col1{width: 100%;}



/* ---------- sub8_1_1 ---------- */
#page8_1_1 input[type="text"]{width: 100%;}
#page8_1_1 .table_category{width: 120px;}
#page8_1_1 .block_category{width: 120px;}
#page8_1_1 .input_form_table>.row .col:nth-child(even){width: calc(50% - 120px);}
#page8_1_1 .input_form_table>.row1 .col2{justify-content: flex-start;}
#page8_1_1 .input_form_table>.row2 .col.col2{width: calc(100% - 120px);}
#page8_1_1 .input_form_table>.row6 .col.col2{width: auto;}
#page8_1_1 .input_form_table>.row6 .upload_wrap{gap: 10px;}

#page8_1_1 .depth_table{width: calc(100% - 120px);}
#page8_1_1 .table_block1 .row1 .col:nth-child(even){width: calc(50% - 120px);}
#page8_1_1 .table_block1 .row:not(.row1) .col2{width: calc(100% - 120px);}
#page8_1_1 .table_block1 .row2 .col2{justify-content: space-between;}
#page8_1_1 .table_block1 .row2 .col2 .upload_wrap{
    justify-content: flex-start;
    gap: 10px;
}



/* ---------- sub8_2 ---------- */
#page8_2 .search_area .select_wrap{width: 200px;}
#page8_2 .search_area input[type="text"]{width: 200px;}

#popup8_2_1{width: 460px;}
#popup8_2_1 .block_category{width: 120px;}
#popup8_2_1 .col2{width: calc(100% - 120px);}
#popup8_2_1 input{width: 100%;}
#popup8_2_1 .row4 .col2{justify-content: space-between;}
#popup8_2_1 .row4 p{font-size: 14px;}

#popup8_2_2{width: 560px;}
#popup8_2_2 .search_area{
    padding: 15px 20px;
    margin-bottom: 15px;
}
#popup8_2_2 .search_area input[type="text"]{width: 350px;}
#popup8_2_2 .search_area .btn{
    width: 54px;
    height: 36px;
    padding: 0 15px;
    font-size: 13px;
}
#popup8_2_2 .result_area .col1{width: 70px;}
#popup8_2_2 .result_area .col1 .table_img_box{
    width: 40px;
    height: 40px;
    margin: auto;
}
#popup8_2_2 .result_area .col2{width: 170px;}
#popup8_2_2 .result_area .col3{width: 80px;}
#popup8_2_2 .result_area .col4{width: 80px;}
#popup8_2_2 .result_area .col5{width: 100px;}



/* ---------- sub8_3 ---------- */
#page8_3 .search_area .select_wrap,
#page8_3 .search_area .col3 input{width: 180px;}
#page8_3 .search_area .date_wrap{width: 256px;}
#page8_3 .search_area .calander_wrap{
    width: 622px;
    height: 305px;
}
#page8_3 .search_area .col6 .input_wrap{
    width: 216px;
    display: flex;
    gap: 12px;
}
#page8_3 .search_area .col3,
#page8_3 .search_area .col4,
#page8_3 .search_area .col6{padding-left: 7px;}

#page8_3 .result_table .col{width: 100px;}
#page8_3 .result_table .col3,
#page8_3 .result_table .col4{width: 120px;}
#page8_3 .result_table .col5{
    width: auto;
    word-break: break-all;
    text-overflow: initial;
    white-space: initial;
}
#page8_3 .result_table .col6{width: auto;}



/* ---------- sub8_3_1 app popup ---------- */
#app_popup8_31 .form_area,
#app_popup8_32 .form_area{
    width: 100%;
}
#app_popup8_31 .form_area .select_wrap,
#app_popup8_32 .form_area .select_wrap{width: 100%;}

#app_popup8_31 .app_popup_content{
    gap: 20px;
}
#app_popup8_31 .form_area .block_category{width: 100px;}
#app_popup8_31 .form_area .col2{
    justify-content: space-between;
    width: calc(100% - 100px);
}
#app_popup8_31 .result_area input[type="text"]{
    width: 100%;
    text-align: right;
}

#app_popup8_32 .form_area .block_category{width: 120px;}
#app_popup8_32 .form_area .col2{
    width: calc(100% - 120px);
}
#app_popup8_32 .popup_btn{
    display: flex;
    gap: 10px;
}



/* ---------- sub8_3_1 ---------- */
#page8_3_1 .option_area{margin: 5px 0 20px;}
#page8_3_1 .page_btn_wrap{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#page8_3_1 .admin_info{
    display: flex;
    gap: 15px;
}
#page8_3_1 .admin_info b{
    position: relative;
    font-weight: 700;
    line-height: 16px;
}
#page8_3_1 .admin_info b::after{
    content: "";
    position: absolute;
    top: 50%;
    right: -7px;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 16px;
    background: #eee;
}
#page8_3_1 .admin_info p{
    font-weight: 500;
    color: #0044FE;;
}
#page8_3_1 .result_area input[type="text"]{
    width: 100%;
    text-align: center;
}
#page8_3_1 .result_area .result_table{width: 1300px;}
#page8_3_1 .result_area .col1{width: 100px;}
#page8_3_1 .result_area .col2{width: 120px;}
#page8_3_1 .result_area .col3{width: 100px;}
#page8_3_1 .result_area .col4,
#page8_3_1 .result_area .col5{width: 150px;}
#page8_3_1 .result_area .col6,
#page8_3_1 .result_area .col7{width: 90px;}
#page8_3_1 .result_area .col8{width: 120px;}
#page8_3_1 .result_area .col9{width: 80px;}
#page8_3_1 .result_area tbody .col10{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}
#page8_3_1 .result_area .col11{width: 80px;}
#page8_3_1 .input_form_table_btn .btn{
    width: 125px;
    letter-spacing: -0.01em;
}

#page8_3_1 main.active .scroll_area{padding-bottom: 0; overflow-x: initial;}
#page8_3_1 main.active .result_area .result_table{width: 100%;}
#page8_3_1 main.active .result_area .col10{width: auto;}

#page8_3_1 .result_area .row.default .col10>*{display: none;}
#page8_3_1 .result_area .row.default .col11>*{display: none;}
#page8_3_1 .result_area .row.on .col9>*{display: none;}

#popup8_3_1{width: 360px;}
#popup8_3_1 .block_category{width: 120px;}
#popup8_3_1 .col2{width: calc(100% - 120px);}
#popup8_3_1 .select_wrap{width: 156px;}

#popup8_3_2{width: 560px;}
#popup8_3_2 .popup_content{padding-bottom: 30px;}
#popup8_3_2 .search_area{
    padding: 15px 20px;
    margin-bottom: 15px;
}
#popup8_3_2 .search_area input[type="text"]{width: 350px;}
#popup8_3_2 .search_area .btn{
    width: 54px;
    height: 36px;
    padding: 0 15px;
    font-size: 13px;
}
#popup8_3_2 .result_area .col1{width: 70px;}
#popup8_3_2 .result_area .col1 .table_img_box{
    width: 40px;
    height: 40px;
    margin: auto;
}



/* ---------- sub8_3_2 ---------- */
#page8_3_2 .option_area{margin: 5px 0 20px;}
#page8_3_2 .result_area .result_table{width: 1300px;}
#page8_3_2 .result_area .col1{width: 100px;}
#page8_3_2 .result_area .col2{width: 120px;}
#page8_3_2 .result_area .col3{width: 100px;}
#page8_3_2 .result_area .col3 input[type="text"]{
    width: 100%;
    text-align: center;
}
#page8_3_2 .result_area .col4,
#page8_3_2 .result_area .col5{width: 150px;}
#page8_3_2 .result_area .col6,
#page8_3_2 .result_area .col7{width: 90px;}
#page8_3_2 .result_area .col8{width: 120px;}
#page8_3_2 .result_area .col9{width: 80px;}
#page8_3_2 .result_area tbody .col10{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}
#page8_3_2 .result_area .col11{width: 80px;}
/* #page8_3_2 .input_form_table_btn_wrap{
    justify-content: flex-end;
} */
#page8_3_2 .input_form_table_btn_wrap .btn{
    width: 125px;
    letter-spacing: -0.01em;
}
#page8_3_2 main.active .scroll_area{padding-bottom: 0; overflow-x: initial;}
#page8_3_2 main.active .result_area .result_table{width: 100%;}
#page8_3_2 main.active .result_area .col10{width: auto;}

#popup8_3_2_1{width: 360px;}
#popup8_3_2_1 .block_category{width: 120px;}
#popup8_3_2_1 .col2{width: calc(100% - 120px);}
#popup8_3_2_1 .select_wrap{width: 156px;}


/* ---------- sub8_3_2_1 ---------- */
#page8_3_2_1 .form_area input[type="text"]{width: 100%;}
#page8_3_2_1 .form_area .table_category{
    width: 120px;
}
#page8_3_2_1 .form_area .col:nth-child(even){
    width: calc(50% - 120px);
}
#page8_3_2_1 .form_area .row7 .col4{justify-content: flex-start;}
#page8_3_2_1 .form_area .row9 .col2{
    width: calc(100% - 120px);
}



/* ---------- sub8_3_3 ---------- */
#page8_3_3 .search_area .col2 input{width: 200px;}
#page8_3_3 .search_area .col2 input{width: 200px;}
#page8_3_3 .search_area .col4 .input_wrap{
    width: 216px;
    display: flex;
    gap: 12px;
}
#page8_3_3 .search_area .col3,
#page8_3_3 .search_area .col4{padding-left: 7px;}

#page8_3_3 .result_area .result_table{width: 1400px;}
#page8_3_3 .result_table .col1,
#page8_3_3 .result_table .col2{width: 100px;}
#page8_3_3 .result_table .col3{width: 120px;}
#page8_3_3 .result_table .col4{width: 200px;}
#page8_3_3 .result_table .col:nth-child(n+5):nth-child(-n+9){width: 80px;}
#page8_3_3 .result_table .col8 input{width: 100%;}
#page8_3_3 .result_table tbody .col10{
    width: 200px;
    overflow: initial;
    text-align: left;
}
#page8_3_3 .result_table tbody .col10{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page8_3_3 .result_table tbody .col10 .select_wrap{width: 115px;}
#page8_3_3 .result_table .col11,
#page8_3_3 .result_table .col12{width: 100px;}
#page8_3_3 .result_table .col13{width: 80px;}

#page8_3_3 main.active .result_area .result_table{width: 100%;}
#page8_3_3 main.active .result_area .col4{width: auto;}



/* ---------- sub8_3_3 app popup ---------- */
#app_popup8_3_31 .form_area{
    width: 100%;
}
#app_popup8_3_31 .form_area .select_wrap{width: 100%;}

#app_popup8_3_31 .app_popup_content{
    gap: 20px;
}
#app_popup8_3_31 .form_area .block_category{width: 100px;}
#app_popup8_3_31 .form_area .col2{
    justify-content: space-between;
    width: calc(100% - 100px);
}
#app_popup8_3_31 .result_area input[type="text"]{
    width: 100%;
    text-align: right;
}



/* ---------- sub8_3_4 ---------- */
#page8_3_4 .search_area .select_wrap,
#page8_3_4 .search_area .col3 input{width: 180px;}
#page8_3_4 .search_area .date_wrap{width: 256px;}
#page8_3_4 .search_area .calander_wrap{
    width: 622px;
    height: 305px;
}
#page8_3_4 .search_area .col3,
#page8_3_4 .search_area .col4,
#page8_3_4 .search_area .col6{padding-left: 7px;}
#page8_3_4 .search_area .row1 .col6 .input_wrap,
#page8_3_4 .search_area .row2 .col2 .input_wrap{
    width: 216px;
    display: flex;
    gap: 12px;
}
#page8_3_4 .search_area .null{width: 700px;}

#page8_3_4 .result_table .col1{width: 100px;}
#page8_3_4 .result_table .col2{width: 120px;}
#page8_3_4 .result_table .col3,
#page8_3_4 .result_table .col8{width: auto;}
#page8_3_4 .result_table .col:nth-child(n+4):nth-child(-n+7){width: 80px;}
#page8_3_4 .result_table .col9{width: 120px;}



/* ---------- sub8_4 ---------- */
#page8_4 .search_area .select_wrap{width: 200px;}
#page8_4 .search_area .col4 input{width: 150px;}
#page8_4 .search_area .date_wrap{width: 256px;}
#page8_4 .search_area .calander_wrap{
    width: 622px;
    height: 305px;
}
#page8_4 .search_area .col7 .input_wrap{
    width: 194px;
}
#page8_4 .search_area .row1 .col3,
#page8_4 .search_area .row1 .col5,
#page8_4 .search_area .row1 .col7{padding-left: 7px;}
#page8_4 .search_area .row1 .col8 .input_wrap{
    display: flex;
    gap: 12px;
}
#page8_4 .search_area .row2{display: flex;}
#page8_4 .search_area .row2 .null{width: 611px;}

#page8_4 .result_area .col1{width: 150px;}
#page8_4 .result_area .col2{width: 120px;}
#page8_4 .result_area .col5{width: 200px;}
#page8_4 .result_area .col3,
#page8_4 .result_area .col6,
#page8_4 .result_area .col7,
#page8_4 .result_area .col8{width: 100px;}
#page8_4 .result_area tbody tr{cursor: pointer;}
#page8_4 .result_area tbody tr:hover{background: #F6FAFF;}
#page8_4 .result_area tbody tr:hover td{color: #0044FE;}

#popup8_4{width: 360px;}
#popup8_4 .form_area .block_category{width: 120px;}
#popup8_4 .form_area .col2{
    width: calc(100% - 120px);
}
#popup8_4 .text_input_wrap{padding: 5px 12px;}
#popup8_4 .text_input_wrap input{width: 100%;}



/* ---------- sub8_4_1 ---------- */
#page8_4_1 .option_area{
    margin: 8px 0 20px;
}

#page8_4_1 .option_area .table_category{width: 120px;}
#page8_4_1 .option_area .col:nth-child(even){width: calc(33.33% - 120px);}
#page8_4_1 .option_area .row2{border: none;}

#page8_4_1 .option_area ul li:last-child dl dd{width: auto;}
#page8_4_1 .option_area ul.page_btn_wrap{margin-top: 30px;}
#page8_4_1 .result_area .col1{width: 180px;}
#page8_4_1 .result_area .col2,
#page8_4_1 .result_area .col3{width: 200px;}
#page8_4_1 .result_area .col4,
#page8_4_1 .result_area .col5,
#page8_4_1 .result_area .col6,
#page8_4_1 .result_area .col7,
#page8_4_1 .result_area .col8{width: 80px;}
#page8_4_1 .result_area .col9{width: 130px;}



/* ---------- sub8_4_1 app popup ---------- */
#app_popup8_41 .app_popup_content,
#app_popup8_42 .app_popup_content{
    gap: 20px;
}
#app_popup8_41 .form_area,
#app_popup8_42 .form_area{
    width: 100%;
}
#app_popup8_41 .form_area .block_category,
#app_popup8_42 .form_area .block_category{width: 100px;}
#app_popup8_41 .form_area .col2,
#app_popup8_42 .form_area .col2{width: calc(100% - 100px);}
#app_popup8_42 .result_area tbody .col4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#app_popup8_42 .result_area tbody .col4 p{
    flex: 1;
    text-align: center;
}
#app_popup8_42 .result_area tbody .col4 .x_btn{
    width: 30px;
    height: 30px;
    background: url(../../images/icon/icon-x-bold.svg) no-repeat center/16px, #f2f4ff;
    border-radius: 50%;
    cursor: pointer;
}
#app_popup8_42 .popup_btn{
    display: flex;
    gap: 10px;
}



/* ---------- sub8_5 ---------- */
#page8_5 .search_area .select_wrap{width: 200px;}
#page8_5 .search_area .col2 input{width: 200px;}
#page8_5 .search_area .date_wrap{width: 256px;}
#page8_5 .search_area .calander_wrap{
    width: 622px;
    height: 305px;
}

#page8_5 .search_area .col3,
#page8_5 .search_area .col5,
#page8_5 .search_area .col7{padding-left: 7px;}
#page8_5 .search_area .row2{display: flex;}
#page8_5 .search_area .row2 .null{width: 285px;}
#page8_5 .search_area .row2 .col4 .input_wrap{
    display: flex;
    gap: 12px;
}
#page8_5 .result_area .col{width: 180px;}
#page8_5 .result_area .col2{width: auto;}
#page8_5 .result_area tbody tr{cursor: pointer;}
#page8_5 .result_area tbody tr:hover{background: #F6FAFF;}
#page8_5 .result_area tbody tr:hover td{color: #0044FE;}

#popup8_5{width: 460px;}
#popup8_5 .block_category{width: 120px;}
#popup8_5 .col2{width: calc(100% - 120px);}




/* ---------- sub8_5_1 ---------- */
#page8_5_1 .option_area{
    margin: 5px 0 20px;
}
#page8_5_1 .option_area .page_btn_wrap .null{flex: 1;}
#page8_5_1 .result_area .col1{width: 120px;}
#page8_5_1 .result_area .col3{width: 150px;}
#page8_5_1 .result_area .col4,
#page8_5_1 .result_area .col5,
#page8_5_1 .result_area .col6,
#page8_5_1 .result_area .col7{width: 80px;}
#page8_5_1 .result_area .col8{width: 100px;}
#page8_5_1 .result_area .col8 input{width: 100%;}
#page8_5_1 .result_area .col9{width: 160px;}
#page8_5_1 .result_area .col9>div{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#popup8_5_1_1, #popup8_5_1_2{width: 460px;}
#popup8_5_1_1 .block_category,
#popup8_5_1_2 .block_category{width: 120px;}
#popup8_5_1_1 .col2,
#popup8_5_1_2 .col2{
    width: calc(100% - 120px);
    font-size: 15px;
}

#popup8_5_1_3, #popup8_5_1_4{width: 360px;}
#popup8_5_1_3 .block_category,
#popup8_5_1_4 .block_category{width: 120px;}
#popup8_5_1_3 .col2,
#popup8_5_1_4 .col2{
    justify-content: flex-start;
    width: calc(100% - 120px);
}
#popup8_5_1_3 input,
#popup8_5_1_4 input{width: 100%;}



/* ---------- sub8_6 ---------- */
#page8_6 .search_area .select_wrap{width: 200px;}
#page8_6 .search_area .col3 input{width: 150px;}
#page8_6 .search_area .date_wrap{width: 256px;}
#page8_6 .search_area .calander_wrap{
    width: 622px;
    height: 305px;
}
#page8_6 .search_area .row1 .col3,
#page8_6 .search_area .row2 .col4{padding-left: 7px;}
#page8_6 .search_area .null{width: 235px;}

#page8_6 .result_table td{height: 120px;}
#page8_6 .result_table .col1{width: 100px;}
#page8_6 .result_table .col2{width: 150px;}
#page8_6 .result_table .col3{width: 60px;}
#page8_6 .result_table .col4,
#page8_6 .result_table .col5{
    width: 120px;
    cursor: pointer;
}
#page8_6 .result_table .col6,
#page8_6 .result_table .col7,
#page8_6 .result_table .col8{width: 100px;}
#page8_6 .result_table .col9,
#page8_6 .result_table .col10{
    width: 130px;
    cursor: pointer;
}
#page8_6 .result_table .col b{
    font-size: 14px;
    font-weight: 700;
    color: #0B1293;
    text-decoration: underline;
}
#page8_6 .result_table .col .table_img_box{
    width: 80px;
    height: 80px;
    margin: auto;
    overflow: hidden;
}

#popup8_6_1{width: 660px;}
#popup8_6_1 .popup_content, #popup8_6_2 .popup_content{padding-bottom: 30px;}
#popup8_6_1 .popup_map{
    position: relative;
    height: 400px;
    background: #F2F2F2;;
}
#popup8_6_1 .popup_picker{
    position: absolute;
    top: 179px;
    left: 286px;
    width: 28px;
    height: 38px;
    background: url("../../images/map_picker.svg") no-repeat center/contain;
}



/* ---------- sub8_7 ---------- */
#page8_7 .option_area{margin: 5px 0 20px;}
#page8_7 .result_table .col1{width: 60px;}
#page8_7 .result_table .col2{width: 90px;}
#page8_7 .result_table .col3{width: 80px;}
#page8_7 .result_table .col4{width: 120px;}
#page8_7 .result_table .col5{width: 90px;}
#page8_7 .result_table .col6{width: 110px;}
#page8_7 .result_table .col7,
#page8_7 .result_table .col8{width: 70px;}
#page8_7 .result_table .col9{width: 80px;}
#page8_7 .result_table .col10{width: 90px;}
#page8_7 .result_table .col11{width: 150px;}



/* ---------- sub8_7_1 app popup ---------- */
#app_popup8_71 .form_area .select_wrap,
#app_popup8_72 .form_area .select_wrap{width: 100%;}
#app_popup8_71 .form_area .block_category,
#app_popup8_72 .form_area .block_category{width: 100px;}
#app_popup8_71 .form_area .col2,
#app_popup8_72 .form_area .col2{
    justify-content: space-between;
    width: calc(100% - 100px);
}

#app_popup8_71 .app_popup_content{
    gap: 20px;
}
#app_popup8_72 .popup_btn{
    display: flex;
    gap: 10px;
}



/* ---------- sub8_7_1 ---------- */
#page8_7_1 .search_area .select_wrap{width: 200px;}
#page8_7_1 .search_area .col1{width: 52px;}
#page8_7_1 .search_area .col3 input{width: 150px;}
#page8_7_1 .search_area .date_wrap{width: 256px;}
#page8_7_1 .search_area .calander_wrap{
    width: 622px;
    height: 305px;
}
#page8_7_1 .search_area .row1 .col4{padding-left: 7px;}
#page8_7_1 .search_area .null{width: 700px;}

#page8_7_1 .result_table .col1{width: 100px;}
#page8_7_1 .result_table .col2{width: 90px;}
#page8_7_1 .result_table .col3{width: 80px;}
#page8_7_1 .result_table .col4{width: 150px;}
#page8_7_1 .result_table .col5{width: 90px;}
#page8_7_1 .result_table .col6{width: 130px;}
#page8_7_1 .result_table .col7,
#page8_7_1 .result_table .col8{width: 70px;}
#page8_7_1 .result_table .col9{width: 80px;}
#page8_7_1 .result_table .col10{width: 90px;}
#page8_7_1 .result_table .col11{width: 160px;}