.result_table .btn{
    height: 36px;
    padding: 0 15px;
    font-size: 13px;
}
.result_area .icon_btn_wrap{
    display: flex;
    justify-content: center;
}
.result_area .icon_btn.delete_btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../../images/icon/icon-delete.svg) no-repeat center/24px, #f2f2f2;
}
.result_area .icon_btn.delete_btn:hover {
    background: url(../../images/icon/icon-delete-bk.svg) no-repeat center/16px, #d3d3d3;
}



/* ---------- sub9_1 ---------- */
#page9_1 .option_area{margin: 5px 0 20px;}
#page9_1 .result_area .col5{width: 140px;}
#page9_1 .result_area .col6{width: 140px;}

#popup9_1{width: 460px;}
#popup9_1 .block_category{width: 120px;}
#popup9_1 .col2{width: calc(100% - 120px);}
#popup9_1 .col2 input{width: 100%;}



/* ---------- sub9_2 ---------- */
#page9_2 .search_area .date_wrap{width: 256px;}
#page9_2 .search_area .calander_wrap{
    width: 622px;
    height: 305px;
}
#page9_2 .search_area .col3 .input_wrap{
    width: 200px;
    display: flex;
    gap: 12px;
}
#page9_2 .search_area .col4{padding-left: 7px;}
#page9_2 .search_area .select_wrap{width: 200px;}
#page9_2 .search_area .null{width: 200px;}

#page9_2 .result_area tbody tr{cursor: pointer;}
#page9_2 .result_area tbody tr:hover{background: #F6FAFF;}
#page9_2 .result_area tbody tr:hover td{color: #0044FE;}

#popup9_2{width: 1022px;}
#popup9_2 .option_area ul.info{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
}
#popup9_2 .option_area ul li{
    width: 50%;
    border-right: 1px solid #eee;
}
#popup9_2 .option_area ul li:last-of-type{
    border-right: none;
}
#popup9_2 .option_area ul li dl{
    display: flex;
    align-items: center;
    height: 60px;
}
#popup9_2 .option_area ul li dt{
    width: 120px;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #6F869C;
    line-height: 60px;
    background-color: #FCFCFC;
}
#popup9_2 .option_area ul li:first-child dt{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#popup9_2 .option_area ul li dl dd{
    width: 260px;
    padding: 14px 12px;
}
#popup9_2 .option_area ul li:last-child dl dd{width: auto;}
#popup9_2 .option_area .date_wrap{width: 236px;}

#popup9_2 .register_area input{width: 100%;}
#popup9_2 .register_area .row{
    display: flex;
    border-bottom: 1px solid #eee;
}
#popup9_2 .register_area .row1{
    border-top: 1px solid #eee;
}
#popup9_2 .register_area .col{
    height: 60px;
    padding: 8px 0;
}
#popup9_2 .register_area .block_category{width: 100px;}
#popup9_2 .register_area .col:nth-child(even){
    padding-right: 8px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 700;
    color: #6F869C;
    line-height: 44px;
}
#popup9_2 .register_area .select_wrap{width: 150px;}
#popup9_2 .register_area .col7{width: 150px;}
#popup9_2 .register_area .col9{width: 80px;}
#popup9_2 .register_area .col10{
    width: 112px;
    padding-right: 4px;
}
#popup9_2 .register_area .col10 .icon_btn_wrap{
    display: flex;
    justify-content: space-between;
}
#popup9_2 .register_area .col10 .icon_btn_wrap .icon_btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#popup9_2 .register_area .col10 .icon_btn_wrap .icon_btn.minus_btn{
    background: url("../../images/icon/icon-minus.svg") no-repeat center/18px, #F2F2F2;
}
#popup9_2 .register_area .col10 .icon_btn_wrap .icon_btn.plus_btn{
    background: url("../../images/icon/icon-plus-bl.svg") no-repeat center/18px, #F2F4FF;
}
#popup9_2 .register_area .row.on .icon_btn_wrap .icon_btn.plus_btn{display: none;}



/* ---------- sub9_2_1 ---------- */
#page9_2_1 .option_area .admin_info b{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
#page9_2_1 .option_area .admin_info span{
    font-size: 16px;
    font-weight: 700;
    color: #4267EB;
    line-height: 24px;
}
#page9_2_1 .option_area1{margin: 5px 0 20px;}
#page9_2_1 .option_area1 .page_btn_wrap{align-items: center;}
#page9_2_1 .result_area1 tbody tr{cursor: pointer;}
#page9_2_1 .result_area1 tbody tr:hover{background: #F6FAFF;}
#page9_2_1 .result_area1 tbody tr:hover td{color: #0044FE;}
#page9_2_1 .result_area1 .col1{width: 120px;}
#page9_2_1 .result_area1 .col2,
#page9_2_1 .result_area1 .col3{width: 150px;}
#page9_2_1 .result_area1 .col4{width: 260px;}
#page9_2_1 .result_area1 tbody .col4{
    display: flex;
    align-items: center;
}
#page9_2_1 .result_area1 tbody .col4 span{
    flex: 1;
    display: block;
}
#page9_2_1 .result_area1 .col5{width: 100px;}
#page9_2_1 .result_area1 .col6{width: 100px;}
#page9_2_1 .result_area1 .col7{width: 150px;}
#page9_2_1 .result_area1 .col8{width: 80px;}

#page9_2_1 .option_area2{margin-top: 40px;}
#page9_2_1 .result_area2 .col{width: 105px;}
#page9_2_1 .result_area2 .col5{width: auto;}

#page9_2_1 .option_area3{margin-top: 40px;}

#popup9_2_1_1, #popup9_2_1_2{width: 910px;}

#popup9_2_1_1 .option_area ul.info,
#popup9_2_1_2 .option_area ul.info{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
}
#popup9_2_1_1 .option_area ul li,
#popup9_2_1_2 .option_area ul li{
    width: 50%;
    border-right: 1px solid #eee;
}

#popup9_2_1_1 .option_area ul li:last-of-type,
#popup9_2_1_2 .option_area ul li:last-of-type{
    border-right: none;
}
#popup9_2_1_1 .option_area ul li dl,
#popup9_2_1_2 .option_area ul li dl{
    display: flex;
    align-items: center;
    height: 60px;
}
#popup9_2_1_1 .option_area ul li dt,
#popup9_2_1_2 .option_area ul li dt{
    width: 120px;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #6F869C;
    line-height: 60px;
    background-color: #FCFCFC;
}
#popup9_2_1_1 .option_area ul li:first-child dt,
#popup9_2_1_2 .option_area ul li:first-child dt{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#popup9_2_1_1 .option_area ul li dl dd,
#popup9_2_1_2 .option_area ul li dl dd{
    width: 210px;
    padding: 14px 12px;
}
#popup9_2_1_1 .option_area ul li:last-child dl dd,
#popup9_2_1_2 .option_area ul li:last-child dl dd{width: auto;}
#popup9_2_1_1 .option_area .date_wrap,
#popup9_2_1_2 .option_area .date_wrap{width: 186px;}
#popup9_2_1_1 .option_area .calander_area,
#popup9_2_1_2 .option_area .calander_area{width: 256px;}

#popup9_2_1_1 .register_area input,
#popup9_2_1_2 .register_area input{width: 100%;}
#popup9_2_1_1 .register_area .row,
#popup9_2_1_2 .register_area .row{
    display: flex;
    border-bottom: 1px solid #eee;
}
#popup9_2_1_1 .register_area .row1,
#popup9_2_1_2 .register_area .row1{
    border-top: 1px solid #eee;
}
#popup9_2_1_1 .register_area .col,
#popup9_2_1_2 .register_area .col{
    height: 60px;
    padding: 8px 0;
}
#popup9_2_1_1 .register_area .block_category,
#popup9_2_1_2 .register_area .block_category{width: 100px;}
#popup9_2_1_1 .register_area .col:nth-child(even),
#popup9_2_1_2 .register_area .col:nth-child(even){
    padding-right: 8px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 700;
    color: #6F869C;
    line-height: 44px;
}
#popup9_2_1_1 .register_area .select_wrap,
#popup9_2_1_2 .register_area .select_wrap{width: 150px;}
#popup9_2_1_1 .register_area .col7,
#popup9_2_1_2 .register_area .col7{width: 150px;}
#popup9_2_1_1 .register_area .col9,
#popup9_2_1_2 .register_area .col9{width: 80px;}

#popup9_2_1_3{width: 400px;}
#popup9_2_1_3 .form_area .block_category{width: 120px;}
#popup9_2_1_3 .form_area .col2{font-size: 15px;}

#popup9_2_1_4{width: 280px;}