.survey_popup{margin: auto;}

.popup_top{padding: 0 30px;}
.popup_top>div{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
}
.popup_title{
    font-size: 24px;
    font-weight: 700;
}
.popup_top .close_btn{
    width: 24px;
    height: 24px;
    background: url(../images/icon-x.svg) no-repeat center/contain;
}

.popup_content{padding: 60px 30px;}
.popup_content .popup_img_area h3{
    color: #4267EB;
    font-weight: 500;
    text-align: center;
}
.popup_content .qna_wrap{margin-bottom: 50px;}
.popup_content .qna_wrap:last-child{margin: 0;}
.popup_content .question{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.popup_content .question h2{
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #4267EB;
    border-radius: 100px;
}
.popup_content p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}
.popup_content span{
    font-size: 16px;
    font-weight: 500;
    color: #6F869C;
    line-height: 1.5;
}
.popup_content .answer ul{
    display: flex;
    justify-content: space-between;
}
.popup_content .answer ul .answer_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #0B1293;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    background-color: #F2F4FF;
    border-radius: 12px;

    cursor: pointer;
    transition:all .3s;
}
.popup_content .answer ul .answer_btn.on{
    color: #fff;
    font-weight: 700;
    background: #0044FE;
}
.popup_btm{
    padding: 30px 0;
    background: #F6FAFF;
}
.popup_btm .popup_btn{
    display: flex;
    justify-content: center;
}
.popup_btm .popup_btn .btn{
    width: 110px;
    height: 44px;
    font-size: 14px;
    border-radius: 100px;
}
.popup_btm .popup_btn .next_btn{
    color: #fff;
    background: #D3D3D3;
    cursor: initial;
}
.popup_btm .popup_btn .next_btn.on{
    color: #fff;
    background: #0044FE;
    cursor: pointer;
}