
/* ---------- popup1 ---------- */
#popup1{width: 800px;}
#popup1 .qna_wrap1 .answer li{
    width: 166px;
}
#popup1 .qna_wrap2,
#popup1 .qna_wrap3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popup1 .qna_wrap2 .question,
#popup1 .qna_wrap3 .question{
    margin: 0;
}
#popup1 .qna_wrap2 .input_wrap,
#popup1 .qna_wrap3 .input_wrap{
    position: relative;
    width: 285px;
}
#popup1 .qna_wrap2 .input_wrap::after,
#popup1 .qna_wrap3 .input_wrap::after{
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 18px;
    line-height: 25px;
}
#popup1 .qna_wrap2 input,
#popup1 .qna_wrap3 input{
    font-size: 24px;
    text-align: right;
}

#popup1 .qna_wrap2 .input_wrap input{padding-right: 47px;}
#popup1 .qna_wrap2 .input_wrap::after{
    content: "명";
}
#popup1 .qna_wrap3 .input_wrap input{padding-right: 64px;}
#popup1 .qna_wrap3 .input_wrap::after{
    content: "만원";
}

#popup1 .qna_wrap4 .answer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popup1 .qna_wrap4 .input_wrap{width: 435px;}
#popup1 .qna_wrap4 .btn{width: 285px;}



/* ---------- popup1_1 ---------- */
#popup1_1{
    width: 480px;
    background: #F6FAFF;
}
#popup1_1 .popup_top>div{border-bottom: none;}
#popup1_1 .popup_content{padding: 0 80px 20px;}
#popup1_1 .popup_img_area .img_box{
    width: 85px;
    height: 127px;
    margin: 0 auto 30px;
}
#popup1_1 .popup_img_area h3{
    padding-bottom: 30px;
    line-height: 1.5;
}
#popup1_1 .answer{
    margin-bottom: 15px;
}
#popup1_1 .answer4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
#popup1_1 .answer4 .input_wrap{width: 221px;}
#popup1_1 .answer4 .btn{
    width: 89px;
    font-size: 15px;
}
#popup1_1 .popup_btm{
    padding: 20px 80px 60px;
    background: none;
}
#popup1_1 .popup_btm .btn{
    width: 100%;
    height: 60px;
}



/* ---------- popup2 ---------- */
#popup2{width: 800px;}
#popup2 .qna_wrap1 span{
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}
#popup2 .qna_wrap1 ul{margin-bottom: 30px;}
#popup2 .qna_wrap1 li{width: 115px;}

#popup2 .qna_wrap2 .answer span{
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}
#popup2 .qna_wrap2 .input_wrap{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
#popup2 .qna_wrap2 .input_wrap input{width: 134px;}
#popup2 .qna_wrap2 .input_wrap i{
    display: block;
    width: 48px;
    font-size: 18px;
    color: #797979;
    font-style: normal;
    text-align: center;
}
#popup2 .qna_wrap2 li{width: 115px;}

#popup2 .qna_wrap3 li{
    position: relative;
    width: 358px;
    margin-bottom: 33px;
}
#popup2 .qna_wrap3 b{
    position: absolute;
    left: 0;
    bottom: -33px;
    color: #111;
    font-size: 16px;
    font-weight: 500;
}

#popup2 .qna_wrap4 ul{margin-bottom: 20px;}
#popup2 .qna_wrap4 li{width: 166px;}
#popup2 .qna_wrap4 .input_wrap{
    display: none;
    margin-top: 20px;
}
#popup2 .qna_wrap4 .input_wrap.on{display: block;}
#popup2 .popup_btn{gap: 10px;}



/* ---------- popup3 ---------- */
#popup3{width: 800px;}
#popup3 .popup_img_area .img_box{
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
}
#popup3 .popup_img_area h3{
    margin-bottom: 40px;
    font-size: 20px;
    color: #4267EB;
    font-weight: 500;
    text-align: center;
    line-height: 1.4;
}
#popup3 span{
    display: block;
    margin-bottom: 10px;
}
#popup3 .input_wrap{margin-bottom: 30px;}
#popup3 .input_wrap:last-child{margin-bottom: 26px;}